<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cbike-webapp</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/google-map.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
</head>
<body>
	<div id="header">
		<div class='tx-l'><p>租賃站列表</p></div>
		<div class='tx-r'><p>網路記名</p></div>
	</div>
    <div id="map">

    </div>
</body>
</html>